body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, rgba(128, 32, 0, 1) 0%, rgba(238, 130, 238, 1) 100%);

}

button{
  cursor: pointer;
}

